@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Fira+Code:wght@700&display=swap");

* {
    color: white;
    font-family: "Fira Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

.navShape1[data-config="0"] {
    top: 15%;
    left: 20%;
    width: 8%;
    height: 8vw;
}

.navShape2[data-config="0"] {
    top: calc(15% + 8vw);
    left: 20%;
    width: 28%;
    height: 8vw;
}

.navShape3[data-config="0"] {
    top: calc(15% + 16vw);
    left: 40%;
    width: 28%;
    height: 8vw;
}

.navShape4[data-config="0"] {
    top: calc(15% + 24vw);
    left: 60%;
    width: 8%;
    height: 8vw;
}

.navShape1[data-config="1"] {
    top: 40%;
    left: 36%;
    width: 9%;
    height: 45%;
}
.navShape1[data-config="1"] {
    top: 40%;
    left: 36%;
    width: 9%;
    height: 45%;
}

.navShape2[data-config="1"] {
    top: 25%;
    left: 45%;
    width: 9%;
    height: 45%;
}

.navShape3[data-config="1"] {
    top: 45%;
    left: 54%;
    width: 9%;
    height: 45%;
}

.navShape4[data-config="1"] {
    top: 20%;
    left: 63%;
    width: 9%;
    height: 45%;
}

.navShape1[data-config="2"] {
    top: 40%;
    left: 36%;
    width: 9%;
    height: 45%;
    border-radius: 0 0 0 3rem;
}

.navShape2[data-config="2"] {
    top: 25%;
    left: 45%;
    width: 9%;
    height: 45%;
    border-radius: 0 3rem 0 0;
}

.navShape3[data-config="2"] {
    top: 40%;
    left: 54%;
    width: 9%;
    height: 45%;
    border-radius: 0 0 0 3rem;
}

.navShape4[data-config="2"] {
    top: 25%;
    left: 63%;
    width: 9%;
    height: 45%;
    border-radius: 0 3rem 0 0;
}

.navShape1[data-config="3"] {
    top: calc(31% + 10vw);
    left: 30%;
    width: 10%;
    height: 10vw;
    z-index: 10;
}

.navShape2[data-config="3"] {
    top: calc(31%);
    left: 30%;
    z-index: 10;
    height: 10vw;
    width: 16%;
}

.navShape3[data-config="3"] {
    top: calc(31%);
    left: 46%;
    width: 25%;
    height: 10vw;
}

.navShape4[data-config="3"] {
    top: calc(31% + 10vw);
    left: 40%;
    width: 31%;
    height: 10vw;
}

.navShape1[data-config="4"] {
    top: 55%;
    left: 30%;
    width: 12%;
    height: 12vw;
    z-index: 100;
    border-radius: 0 0 0 8rem;
}

.navShape2[data-config="4"] {
    top: calc(46%);
    left: 30%;
    z-index: 10;
    height: 16vw;
    width: 16%;
    border-radius: 0 0 0 5rem;
}

.navShape3[data-config="4"] {
    top: calc(46%);
    left: 46%;
    width: 25%;
    height: 16vw;
    border-radius: 0 0 5rem 0;
}

.navShape4[data-config="4"] {
    top: calc(46% - 10vw);
    left: 30%;
    width: 41%;
    height: 10vw;
    border-radius: 5rem 5rem 0 0;
}

.navShape1[data-config="5"] {
    top: 55%;
    left: 30%;
    width: 12%;
    height: 12vw;
    z-index: 100;
    border-radius: 0 0 65rem 0;
}

.navShape2[data-config="5"] {
    top: calc(46%);
    left: 30%;
    z-index: 10;
    height: 16vw;
    width: 16%;
    border-radius: 0 0 10rem 0;
}

.navShape3[data-config="5"] {
    top: calc(46%);
    left: 46%;
    width: 25%;
    height: 16vw;
    border-radius: 50% 0 0 0;
}

.navShape4[data-config="5"] {
    top: calc(46% - 10vw);
    left: 30%;
    width: 41%;
    height: 10vw;
    border-radius: 5rem 5rem 0 0;
}

.navShape1[data-config="transition"] {
    top: 10%;
    left: 10%;
    width: 20%;
    height: 12vw;
    z-index: 100;
    border-radius: 1rem;
}

.navShape2[data-config="transition"] {
    bottom: 10%;
    left: 5%;
    z-index: 10;
    height: 12vw;
    width: 20%;
    border-radius: 1rem;
}

.navShape3[data-config="transition"] {
    top: 70%;
    left: 74%;
    width: 20%;
    height: 12vw;
    border-radius: 1rem;
}

.navShape4[data-config="transition"] {
    top: 17%;
    left: 67%;
    width: 20%;
    height: 12vw;
    border-radius: 1rem;
}

.shape {
    opacity: 1;
    transition: all 1.5s;
    position: absolute;
}

.post-grid {
    grid-template-columns: repeat(auto-fit, 400px);
}

.gradientText {
    background: linear-gradient(45deg, #4b7ddb, #bbd2ff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;
    font-family: "Fira Code", sans-serif;
}

.boardAdd::after {
    @apply bg-brand;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    animation: addWidth 1.5s 1s linear forwards;
    transform: translateX(-1.2rem);
}

.boardAdd::before {
    @apply bg-brand;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    animation: addWidth 1.5s 1s linear forwards;
    transform: translateX(-1.2rem);
    margin-left: auto;
}

.sideBarLeft {
    @apply bg-brand;
    content: "";
    display: block;
    width: 3px;
    height: 0px;
    animation: addHeight 0.58s 2.5s linear forwards;
    margin-right: 0.9rem;
}

.sideBarLeft {
    @apply bg-brand;
    content: "";
    display: block;
    width: 3px;
    height: 0px;
    margin-right: 0.9rem;
}

.sideBarRight {
    @apply bg-brand;
    content: "";
    display: block;
    width: 3px;
    height: 0px;
    margin-left: 0.9rem;
    margin-top: auto;
}

.break {
    word-wrap: break-word;
}

.outer-card-container {
    perspective: 30em;
    position: absolute;
    left: var(--left);
    top: var(--top);
}

.card-container {
    width: 100%;
    height: 100%;
    position: relitive;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    display: grid;
    place-items: center;
    color: white;
    backface-visibility: hidden;
}

.front {
    @apply bg-accent;
}

.back {
    transform: rotateY(180deg);
}

.outer-card-container:hover .card-container {
    transform: rotateY(180deg);
}

.remove {
    width: 0;
    stroke-width: 0;
}

.icon-animation {
    transition: all 2s;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .sideBarLeft {
        animation: addHeightSM 0.58s 2.5s linear forwards;
    }

    .sideBarRight {
        animation: addHeightSM 0.58s 2.5s linear forwards;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sideBarLeft {
        animation: addHeightMD 0.58s 2.5s linear forwards;
    }

    .sideBarRight {
        animation: addHeightMD 0.58s 2.5s linear forwards;
    }
}

@media only screen and (min-width: 1024px) {
    .sideBarLeft {
        animation: addHeightLG 0.58s 2.5s linear forwards;
    }

    .sideBarRight {
        animation: addHeightLG 0.58s 2.5s linear forwards;
    }
}

@keyframes addHeightSM {
    0% {
        height: 0;
    }
    100% {
        height: 166px;
    }
}

@keyframes addHeightMD {
    0% {
        height: 0;
    }
    100% {
        height: 206px;
    }
}

@keyframes addHeightLG {
    0% {
        height: 0;
    }
    100% {
        height: 254px;
    }
}

@keyframes addWidth {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% + 2rem);
    }
}
