---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="The Codey Verse Blog" description="A website were I will blog my experience in building Codey Verse, a open source website where anyone will be able to learn how to code for free." />
	</head>
	<body class="bg-base-100">
		<Header />
		<main>
		</main>
	</body>
</html>
