---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="The Codey Verse Blog" description="A website were I will blog my experience in building Codey Verse, a open source website where anyone will be able to learn how to code for free." />
	</head>
	<body class="bg-base-100">
		<Header />
		<header class="pl-[6vw] pt-[15vh] w-fit">
			<div class="flex">
				<div class="sideBarLeft"></div>
				<div class="boardAdd w-fit">
					<h2 class="text-6xl text-center mt-4">The</h2>
					<h1 class="font-bold gradientText h-28 text-8xl">Codey Verse</h1>
					<h2 class="text-6xl text-center mb-4">Blog</h2>
				</div>
				<div class="sideBarRight"></div>
			</div>
			<h3 class="text-2xl mt-5"> Learn about how this website is being made and try it yourself!</h3>
		</header>
	</body>
</html>
