<nav
    class="pl-2 flex gap-4 w-screen h-[10vh] place-items-center border-b border-[#ffffff4d] font-bold"
>
    <a href="/" class="flex gap-4 place-items-center">
        <img src="/logo.png" alt="Codey Verse Logo" class="h-[8vh]" />
        <h1
            class="md:text-3xl hover:text-brand text-2xl font-bold hover:text-info transition-colors duration-30000"
        >
            The Codey Verse Blog
        </h1>
    </a>
    <div class="md:flex hidden gap-4">
        <h2 class="text-2xl hover:text-accent transition-colors duration-200">
            <a href="/">Home</a>
        </h2>
        <h2 class="text-2xl hover:text-accent transition-colors duration-200">
            <a href="/posts">Posts</a>
        </h2>
        <h2 class="text-2xl hover:text-accent transition-colors duration-200">
            <a href="/about">About</a>
        </h2>
    </div>
</nav>
